*{ background: #111010;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
main a{
    margin-left: 150px;
    text-decoration: none;
    background: #E55473;
    color: #FFF;
    padding: 10px 20px;
    font-size: 20px;
}
/*shared styles*/
section{
    background: #111010;
    margin-bottom: 150px;
}
.common-text{
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.common-button{
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 700;
}
.common-regular-text{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    }
/*banner styles*/
.banner-title{
    color: white;
    font-size: 50px;
    font-weight: 800;
    width: 500px;
    margin-bottom: 10px;
}
.banner{
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 0 150px;
    margin-bottom: 150px;
    background: #111010;
}
.banner img{
    width: 400px;
}
/*featured styles*/
.featured{
    text-align: center;
}
.featured-items{
    display: flex;
    gap: 20px ;
    text-align: center;
    padding: 0 150px;
    margin-top: 50px;
}
.featured-items img{
    width: 280px;
    height: 300px;
    padding: 30px 20px;
}
.featured-flower-1,.featured-flower-2,.featured-flower-3  {
    border: 3px solid #E55473;
    background: #111010;
    border-radius: 5px;

}

/*hot deal styles*/
.hot-deal{
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 0 150px;
    text-align: center;
}
/*instagram styles*/

.instagram{
    display: flex;
    gap: 5px ;

    padding: 0 150px;
    justify-content: space-between;
}
.instagram img{
    width: 250px;
}
/*latest deal styles*/
.latest-deals{
   border: 3px solid #E55473;
   padding: 100px;
   border-radius: 10px;
    
}
.submit-opt{
    text-align: center;
}
.submit-opt input[type="email"]{
    padding: 20px 150px;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
}
footer{
    text-align: center;
    background: #111010;
    padding: 100px 0;
    margin-top: 150px;
}
footer h3{
    color: white;
    font-size: 48px;
    font-weight: 800;
}