*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/*shared styles*/
.common-text{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.common-button{
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 700;
}
/*header styles*/
.banner-title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    width: 500px;
    margin-bottom: 10px;
}
.banner{
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 0 150px;
    background: rgba(229, 84, 115, 0.10);
}
.banner img{
    width: 400px;
}